
/* Your CSS Code here. */
.navbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: lightpink;
}

nav li {
	list-style: none;
	display: inline;
}

nav li a {
	text-decoration: none;
	color: red;
}
